@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #f1f1f1;
  --secondary: #272727;
  --secondary-hover: #3f3f3f;
  --border: #303030;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}